useDynLib(OpenCL)
exportPattern("^ocl")
exportPattern("clFloat$")
exportPattern("clBuffer$")

S3method(print, clDeviceID)
S3method(print, clPlatformID)
S3method(print, clContext)
S3method(print, clCommandQueue)
S3method(print, clKernel)
S3method(names, clKernel)
S3method(`$`, clKernel)
S3method(`$<-`, clKernel)

S3method(print, clBuffer)
S3method(as.double, clBuffer)
S3method(as.integer, clBuffer)
S3method(length, clBuffer)
S3method(`[`, clBuffer)
S3method(`[<-`, clBuffer)
